@font-face {
    font-family: "Deansgate";
    src: url('../Fonts/DeansgateCondensed-Bold.ttf');
}

@font-face {
    font-family: "LemonMilk";
    src: url('../Fonts/LEMONMILK-Medium.otf');
}

:root {
    --colorL: #14bb89;
    --colorR: #14bb89;
    --spriteWidth1: 0px;
    --spriteTime1: 0s;
    --spriteCount1: 0;
    --spriteWidth2: 0px;
    --spriteTime2: 0s;
    --spriteCount2: 0;
    --hpColor: var(--healthy);
    --healthy: #17960e;
    --warning: #b3a312;
    --winner: #1676c4;
}


body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background: transparent;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
}


.absol {
    position: absolute;
}

.mirror {
    position: absolute;
    transform: scaleX(-1);
}

.bgColorL {
    background-color: var(--colorL);
}
.bgColorR {
    background-color: var(--colorR);
}



.mirrorP2 {
    position: absolute;
    transform: scaleX(-1);
    top: 0px;
    right: 0px;
}


#bgVids {
    filter: grayscale(.8);
}

#vidBGP1 {
    clip: rect(0px, 960px, 1080px, 0px);
}
#vidBGP2 {
    clip: rect(0px, 1920px, 1080px, 960px);
}
#vidBGP3 {
    clip: rect(540px, 960px, 1080px, 0px);
}
#vidBGP4 {
    clip: rect(540px, 1920px, 1080px, 960px);
}


#colorGrads {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
.colorBg {
    width: 50%;
    height: 100%;
    opacity: .7;
}
#colorBgL {
    background: linear-gradient(135deg, var(--colorL) 0%, #FFFFFF00 75%, #FFFFFF00);
}
#colorBgL::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ffffff81 0%, #FFFFFF00 75%, #FFFFFF00);
    content: '';
}
#colorBgR {
    background: linear-gradient(225deg, var(--colorR) 0%, #FFFFFF00 75%, #FFFFFF00);
}
#colorBgR::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #ffffff81 0%, #FFFFFF00 75%, #FFFFFF00);
    content: '';
}


.playerInfoDiv {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 8px;
    width: 940px;
    overflow: hidden;
    font-size: 22px;
    bottom: 40px;
}
.playerInfoDivL {
    left: 42px;
    transform-origin: bottom left;
}
.playerInfoDivL1 {
    left: 42px;
    align-items: flex-start;
}
.playerInfo1L {
    transform-origin: top left;
}
.playerInfoDivR {
    right: 42px;
    transform-origin: top right;
    flex-direction: row-reverse;
}
.playerInfoDivR1 {
    right: 42px;
    align-items: flex-end;
}
.playerInfo1R {
    transform-origin: top right;
}

.playerInfoDiv2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 900px;
    font-size: 22px;
}
#playerInfoDivL2 {
    bottom: 130px;
    left: 42px;
    flex-direction: column-reverse;
    align-items: flex-start;
}
.playerInfo2L {
    transform-origin: bottom left;
}
#playerInfoDivR2 {
    bottom: 130px;
    right: 42px;
    flex-direction: column-reverse;
    align-items: flex-end;
}
.playerInfo2R {
    transform-origin: bottom right;
}



.playerInfo {
    display: flex;
    gap: 7px;
    font-family: "Deansgate";
    color: white;
    white-space: nowrap;
    padding: 5px 10px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .7));
    border: solid 2px white;
}

.playerInfoText {
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.5));
}
.playerInfoIcon {
    margin-right: -2px;
    fill: white;
    display: inline-block;
    filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.5));
}
.playerInfoIconTwitter {
    height: 22px;
    width: 22px;
    transform: translate(0px, 2px);
}
.playerInfoIconTwitch {
    height: 21px;
    width: 21px;
    transform: translate(0px, 2px);
}
.playerInfoIconYt {
    height: 22px;
    width: 22px;
    transform: translate(0px, 2px);
}
.playerInfoIconBsky {
    height: 22px;
    width: 22px;
    transform: translate(0px, 0px);
}
.playerInfoIconMasto {
    height: 22px;
    width: 22px;
    transform: translate(0px, 2px);
}
.playerInfoIconCohost {
    height: 22px;
    width: 22px;
    transform: translate(0px, -1px);
}


.character {
    position: absolute;
    width: 1920px;
    height: 1080px;
    object-fit: scale-down;
}

.chara {
    opacity: 0;
}

#topRow {
    position: absolute;
    width: 1920px;
}
#botRow {
    position: absolute;
    width: 1920px;
    top: 410px;
}


.textBGs {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    bottom: 85px;
    filter: drop-shadow(0px 0px 5px black);
}
.textBGsDubs {
    height: 100%;
    bottom: 0;
}
.textBg {
    height: 157px;
    width: 50%;
    transform: skewY(-3.3deg);
}
.textBg::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #ffffff40 0%, #FFFFFF00);
    content: "";
}
.textBgDubs {
    height: 109px;
    transform: skewY(0);
}
#textBgL {
    background-color: var(--colorL);
}
#textBgR {
    background-color: var(--colorR);
}


.wrappers {
    position: absolute;
    font-family: "LemonMilk";
    text-align: center;
    white-space: nowrap;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    opacity: 0;
    filter: drop-shadow(0px 0px 5px black);
}

.wrappersSingles {
    width: 500px;
    height: 70px;
    padding: 0px 20px;
    bottom: 93px;
    line-height: 66px;
    border: 5px solid white;
}
.wrappersDoubles {
    width: 300px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    border-radius: 5px;
}

.p1WSingles {
    left: 42px;
    background-color: var(--colorL);
    
}
.p2WSingles {
    right: 42px;
    background-color: var(--colorR);
}
.p1WDub {
    top: 50px;
    left: 40px;
    background-color: var(--colorL);
}
.p2WDub {
    top: 50px;
    right: 40px;
    background-color: var(--colorR);
}
#p3Wrapper {
    bottom: 50px;
    left: 40px;
    background-color: var(--colorL);
}
#p4Wrapper {
    bottom: 50px;
    right: 40px;
    background-color: var(--colorR);
}

.name {
    color: white;
}

.tag {
    color: lightgray;
}


.teamName {
    position: absolute;
    width: 690px;
    height: 90px;
    top: 495px;
    font-family: "LemonMilk";
    white-space: nowrap;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    opacity: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#teamNameL {
    left: 25px;
}
#teamNameR {
    right: 25px;
}


#middleDivs {
    --singlesTopMargin: 10px;
    --doublesTopMargin: 454px;
    --topMargin: var(--singlesTopMargin);
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(var(--topMargin));
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
}


#roundInfo {
    text-align: center;
    font-family: "Deansgate";
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    transition: width .5s, height .3s, border-width .3s;
}
.roundInfoSingles {
    border: solid;
    border-width: 10px 63px;
    border-image: url('../Overlay/VS\ Screen/Round Border.png') 10 63 fill;
}
/* .roundInfoDoubles {

} */

#tournament {
    color: rgb(65, 65, 65);
    margin: 0 -10px;
}
#round {
    color: black;
    margin: 0 5px;
    margin-top: -5px;
}


#casterInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    transition: width .5s, height .3s, border-width .3s;
}
.casterInfoSingles {
    border: solid;
    border-width: 9px 54px;
    border-image: url('../Overlay/VS\ Screen/Caster Border.png') 9 54 fill;
}
.casterInfoDoubles {
    margin-top: -7px;
}

#casters {
    position: relative;
    text-align: center;
    font-family: "Deansgate";
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.casterDiv ~ .casterDiv::before {
    position: absolute;
    transform: translate(-11px, 6px);
    width: 2px;
    height: 80%;
    background-color: black;
    opacity: .15;
    content: "";
}

.casterDiv {
    display: flex;
    flex-direction: column;
    width: 185px;
    margin: 0 -5px;
    flex-shrink: 0;
}

.casterNameBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    min-height: 36px;
}
.casterName {
    color: black;
}
.casterTag {
    color: gray;
    transform: translateY(4px);
}

.casterSep {
    width: 100%;
    height: 2px;
    background-color: black;
}

.socialBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    min-height: 28px;
}
.socialText {
    color: rgb(65, 65, 65);
}

.socialIcon {
    display: inline-block;
    object-fit: scale-down;
    fill: rgb(65, 65, 65);
    flex-shrink: 0;
}
.micIcon {
    height: 20px;
    width: 20px;
}
.twitterIcon {
    height: 18px;
    width: 18px;
}
.twitchIcon {
    height: 17px;
    width: 17px;
    transform: translate(-2px, -1px);
}
.ytIcon {
    height: 19px;
    width: 19px;
    transform: translate(-1px, 0px);
}
.bskyIcon {
    height: 19px;
    width: 19px;
    transform: translate(-2px, 0px);
}
.mastoIcon {
    height: 19px;
    width: 19px;
    transform: translate(-2px, 0px);
}
.cohostIcon {
    height: 20px;
    width: 20px;
    transform: translate(-1px, 0px);
}
.personIcon {
    height: 20px;
    width: 20px;
}


#scores {
    position: relative;
    margin-top: 8px;
    --greyScore: #414141;
}

.scoreTick {
    position: absolute;
    fill: #414141;
    top: 2px;
}

#scoreL-1 {
    left: 60px;
}
#scoreL-2 {
    left: 31px;
}
#scoreL-3 {
    left: 4px;
}

#scoreR-1 {
    right: 60px;
    transform: scaleX(-1);
}
#scoreR-2 {
    right: 31px;
    transform: scaleX(-1);
}
#scoreR-3 {
    right: 4px;
    transform: scaleX(-1);
}

#scoreBorder {
    position: relative;
}

#scoreNumerical {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: -28px;
}
.scoreNum {
    height: 66px;
    width: 64px;
    font-family: "LemonMilk";
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(24px);
}
#scoreNumL {
    -webkit-text-stroke: 1px var(--colorL);
    text-shadow: 0px 0px 3px var(--colorL);
}
#scoreNumR {
    -webkit-text-stroke: 1px var(--colorR);
    text-shadow: 0px 0px 3px var(--colorR);
}

#connErrorDiv {
    display: none;
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Deansgate";
    font-size: 28px;
    color: lightcoral;
    text-shadow: 0px 0px 5px black;
}


.dubEL {
    display: none;
}


#botRow, #topRow {
    opacity: .6;
}

.charIcon {
    image-rendering: pixelated;
    width: 45px;
    height: 45px;
    transform: translate(0px, 4px);
    object-fit: contain;
    opacity: .95;
    padding-left: 4px;
}


.spriteDiv {
    width: 1920px;
    position: absolute;
    bottom: 305px; /* base */
    image-rendering: pixelated;
    opacity: 0;
}
#imTired {
    position: absolute;
    width: 1920px;
    height: 1080px;
    transform: scaleX(-1);
}
#imExtraTired {
    position: absolute;
    width: 1920px;
    height: 1080px;
    transform: translateY(-1px);
}

.spriteDivDiv {
    width: 1000px;
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: translateX(250px);
    display: flex;
}

.animDiv {
    overflow: hidden;
}
#animDivL {
    width: calc(var(--spriteWidth1) / var(--spriteCount1) * 2); /* gets the w of 1 frame */
}
#animDivR {
    width: calc(var(--spriteWidth2) / var(--spriteCount2) * 2); /* gets the w of 1 frame */
}
#animImgL {
    animation: moveSprite1 var(--spriteTime1) steps(var(--spriteCount1)) infinite;
    min-width: calc(var(--spriteWidth1) * 2);
}
@keyframes moveSprite1 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-1 * var(--spriteWidth1) * 2));
    }
}
#animImgR {
    animation: moveSprite2 var(--spriteTime2) steps(var(--spriteCount2)) infinite;
    min-width: calc(var(--spriteWidth2) * 2);
}
@keyframes moveSprite2 {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-1 * var(--spriteWidth2) * 2));
    }
}


/* Animations! */

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes charaMoveOut {
    from {transform: translateX(0)}
    to {transform: translateX(-30px)}
}

@keyframes charaMoveIn {
    from {transform: translateX(-30px)}
    to {transform: translateX(0)}
}

@keyframes trailMoveOut { /* cheap trick */
    from {transform: translateX(-30px)}
    to {transform: translateX(-30px)}
}

@keyframes trailMoveIn {
    from {transform: translateX(0px)}
    to {transform: translateX(-30px)}
}

@keyframes moveOutLeft {
    from {transform: translateX(0)}
    to {transform: translateX(40px)}
}
@keyframes moveOutRight {
    from {transform: translateX(0)}
    to {transform: translateX(-40px)}
}


@keyframes moveInLeft {
    from {transform: translateX(-40px)}
    to {transform: translateX(0)}
}
@keyframes moveInRight {
    from {transform: translateX(40px)}
    to {transform: translateX(0)}
}



#introducing {
    position: absolute;
    width: 1920px;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    opacity: 0;
}

#introTexts {
    width: 110%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    transform: translateY(-80px);

}

#introTop {
    font-family: "Deansgate";
    opacity: 0;
    font-size: 40px;
    color: lightgray;
    filter: drop-shadow(0px 0px 4px black);
    margin-bottom: -20px;
    line-height: 55px;
}
#introBot {
    font-family: "LemonMilk";
    opacity: 0;
    font-size: 80px;
    color: white;
    filter: drop-shadow(0px 0px 4px black);
}
.animTop {
    animation: topMove 3s .3s;
}
.animBot {
    animation: botMove 3s .3s;
}

@keyframes topMove {
    0% {opacity: 0; transform: translateX(-150px);}
    20% {opacity: 1; transform: translateX(0px);}
    75% {opacity: 1; transform: translateX(0px);}
    100% {opacity: 0; transform: translateX(150px);}
}
@keyframes botMove {
    0% {opacity: 0; transform: translateX(150px);}
    25% {opacity: 1; transform: translateX(0px);}
    75% {opacity: 1; transform: translateX(0px);}
    100% {opacity: 0; transform: translateX(-150px);}
}

#everything {
    width: 1920px;
    height: 1080px;
}
@keyframes moveEverything {
    0% {transform: scale(1);}
    20% {transform: scale(1.3);}
    80% {transform: scale(1.3);}
    100% {transform: scale(1);}
}


#lvlBars {
    position: absolute;
    width: 1920px;
    height: 1080px;
    font-size: 24px;
    font-family: "Deansgate";
    color: white;
    white-space: nowrap;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .7));
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.lvlBar {
    position: absolute;
    width: 100%;
    height: 100%;
}

.lvlDiv {
    position: absolute;
    left: 66px;
    bottom: 186px;
}
.lvlText {
    position: absolute;
    width: 100px;
    display: flex;
    justify-content: center;
    bottom: -3px;
    left: 13px;
}
.lvlBg {
    position: absolute;
    height: 36px;
    width: 120px;
    border: 3px white solid;
    transform: skewX(-45deg);
    bottom: -7px;
}
#lvlBgL {
    background-color: var(--colorL);
}
#lvlBgR {
    background-color: var(--colorR);
}

.hpBarDiv {
    position: absolute;
    width: 406px;
    height: 36px;
    border: 3px white solid;
    transform: skewX(-45deg);
    bottom: 179px;
    left: 200px;
    overflow: hidden;
}
.hpBar {
    position: absolute;
    width: 100%;
    height: 100%;
}
.hpBarFull {
    background-color: rgb(77, 77, 77);
}
.hpBarActive {
    background-color: var(--hpColor);
}
.hpBarActive {
    background-color: var(--hpColor);
}
.hpBarWinner {
    background-color: var(--winner);
}
.hpBarBright {
    background: linear-gradient(#ffffff40, #ffffff00);
}
.hpText {
    /* transform: translate(2px, -4px); */
    width: 406px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 183px;
    left: 202px;
}


.sickFlip {
    transform: scaleX(-1);
}
.flipBack {
    transform: scaleX(-1);
}


#foreGround, #foreGroundOmega {
    transform: translateY(52px);
}
#foreGroundOmega {
    display: none;
    clip: rect(717px, 1920px, 1080px, 0px);
}

@keyframes moveEverythingSerious {
    0% {transform: scale(1.3) translateY(-130px)}
    25% {transform: scale(1.3) translateY(0);}
    90% {transform: scale(1.3);}
    100% {transform: scale(1);}
}

@keyframes charaMoveSerious {
    0% {transform: translateY(-50px)}
    100% {transform: translateY(0)}
}

@keyframes animsSerious {
    0% {filter: brightness(0);}
    100% {filter: brightness(1);}
}